.message-container {
  width: 100%;
}

.bot-message {
  float: left;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 20px 20px 20px 1px;
  background: #00aaa5;
  color: white;
  min-width: 40px;
}